@import url('./_comments/section-title_comments.css');
@import url('./_video/section-title_video.css');

.section-title {
    font-weight: 900;
    font-size: 72px;
    line-height: 80px;
    text-align: center;
    max-width: 800px;
    color: #ffffff;



}

@media screen and (max-width : 995px) {
    .section-title {
        font-size: 42px;
        line-height: 46px;



    }
}



@media screen and (max-width : 455px) {
    .section-title {
        font-size: 32px;
        line-height: 35px;


    }
}