.video-item_kamchatka {
    border-radius: 5px;
    max-width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../../../images/kamchatka.jpg);

}