.intro__content-row {
    display: flex;
    margin-bottom: 12px;
}

@media screen and (max-width:1100px) {
    .intro__content-row {
        margin-bottom: 18px;

    }
}

@media screen and (max-width:995px) {
    .intro__content-row {
        margin-bottom: 23px;

    }
}

@media screen and (max-width:445px) {
    .intro__content-row {
        margin-bottom: 34px;

    }
}