@import url('./__author/comment__author.css');
@import url('./__image/comment__image.css');
@import url('./__quote/comment__quote.css');
@import url('./_margin/comment_margin.css');
@import url('./_first/comment_last.css');
@import url('./_last/comment_last.css');



@media screen and (max-width:995px) {
    .comment {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        padding: 0;


    }
}