.place__website {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}



@media screen and (max-width: 600px) {
    .place__website {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        overflow: hidden;
        border: 0;
        clip: rect(0 0 0 0)
    }
}