.intro__title {
    font-weight: 900;
    font-size: 54px;
    line-height: 59px;
    color: #ffffff;
    margin: 0;
    margin-bottom: 32px;
    max-width: 100%;

}

@media screen and (max-width: 995px) {
    .intro__title {
        font-size: 54px;
        line-height: 59px;
        max-width: 100%;
        margin-bottom: 35px;
    }
}

@media screen and (max-width: 665px) {
    .intro__title {
        font-size: 32px;
        line-height: 35px;

    }
}

@media screen and (max-width: 445px) {
    .intro__title {
        margin-bottom: 28px;

    }
}